<h1>Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>:
<ul>
    <li>Popular languages for Data Science
    <li>Common libraries used for Data Science
    <li>Arimethic expressions in python
    <li>Use of Jupyter notebook
   
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li> Python
    <li> Java
    <li> Julia
    <li> R
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> Numpy
    <li> Pandas
    <li> Matplotlib
    <li> seaborn
</ol>

| Data Science Tools | 
|:--------:|
|  Git   |
|  Jupyter lab   |
|  Hadoop |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Andrea Lorenzana